@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  position: relative;
}

.auth-container{
  /* background-color: aqua; */
  width: 100%;
  height: 100vh;
  padding: 1.5rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-2{
  /* background-color: gold; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 350px;
  height: 100%;
  padding: 1rem;
}

.item-2 .div-1{
  height: 65%;
  width: 100%;
  /* border: 0.1px solid gray; */
  padding: 3rem;
}

.item-2 .div-2 {
 
  /* border: 0.1px solid gray ; */
  height: 10%;
}


.open{
  /* position: absolute; */
  width: 900px;
  height: 900px;
  /* top: 400;
  left:-300; */
  background-color: red;
  border: 1px solid black;
  z-index: 999;
}

.modal{
  width: 50%;
  height: 70%;
  z-index: 999;
  position: absolute;
  top: 0;
  left: -215px;
  
  transition: all 2s ease-in ;
  transform: translateX(435px);
  transition-delay: 3s;
}




@media (min-width: 200px ) and (max-width: 850pX) {
  

  .auth-container{
    flex-direction: column;
  }

  .item-1{
    display: none;
  }

    .item-2 {
      width: 100%;
      padding: 1rem;
      height: 100%;
    }




        .item-2 .div-1 {
          height: 90%;
          width: 100%;
          padding: 3rem;
        }
    
        .item-2 .div-2 {
          height: 10%;
        }


        


       
 
}


/* SCROLL BAR*/
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b1acac;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c0c0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aca6a6;
}

@media (min-width: 200px)  and (max-width: 550pX) {
  .sidebar{
    display: none;
  }
}

@media (min-width: 551px)  {
  
}

 
